<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="color-scheme" content="light only">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Correct link tags for JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JavaScript (bundle includes Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/color-modes.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>PrOH Modeller Tool</title>

    <style>
        .topheader {
            margin-left: 80px;
            margin-right: 80px;
            margin-top: 40px;
        }
    </style>

</head>

<header class="topheader">
    <div class="d-flex align-items-center  pb-3 mb-3 border-bottom justify-content-md-center">
        <a href="index.html" class="link-body-emphasis text-decoration-none "><span class="fs-4">
                <h2>PrOH Modeller Tool</h2>
            </span></a>

    </div>
</header>

<body>
    <div class="container mx-auto d-flex column justify-content-center">
        <div class="column col-lg-10 justify-content-center">
            <div class="column card shadow mb-2 mx-auto  ">
                <div class="card-body p-5">
                    <div class="d-flex justify-content-sm-between align-items-center me-md-2">
                        <h6>1. Download SIPOC Table</h6>
                        <button id="newbtn" class="btn btn-primary " type="button" style="width: 150px;"
                            onclick="SIPOCTableDownload()">Download</button>
                        <a id="downloadLink" href="{{ url_for('static', filename='Sipoc-Table-Template.csv') }}"
                            style="display: none;"></a>
                    </div><br>

                    <div class="row">
                        <div class="d-flex justify-content-between ">
                            <div class="flex-row me-md-2">
                                <form id="fileupload" class="mb-3 d-flex justify-content-sm-between align-items-center"
                                    action="/upload" method="post" enctype="multipart/form-data">
                                    <h6>2. Upload SIPOC Table (.CSV)</h6>
                            </div>
                            <div class="d-flex justify-content-end me-md-2">
                                <div><input class="form-control" id="fileInput" type="file" name="file"></div>
                                <div><button id="uploadstbtn" class="btn btn-primary" type="button"
                                        style="width: 150px;" onclick="ConsentModal()">Upload</button></div>
                            </div>


                            <button type="button" id="ConsentModalbtn" class="btn btn-primary " data-bs-toggle="modal"
                                data-bs-target="#consentform" style="display: none;">hidden modal button</button>

                            <!-- Modal -->
                            <div class="modal fade" id="consentform" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="consentformLabel">User Consent</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            By uploading this file, you consent to our processing of the data contained
                                            within it. We will use this information solely for the purpose of the
                                            requested service. You have the right to withdraw your consent at any time.
                                            For more details on how we handle your data, please refer to our privacy
                                            policy
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                onclick="declineuploadmodal()">Decline</button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                                onclick="uploadFile()">Accept</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-2" id="uploadStatus" style="color: red;">
                            {{ upload_status }}
                        </div>
                    </div>
                    </form>

                    <div style="height: 4px" class="progress">
                        <div id="progressBarst" role="progressbar" aria-label="Success example" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100" style="width: 5%" class="progress-bar bg-success">
                        </div>
                    </div>
                </div>
            </div>
            <div class=" column mx-auto">
                <div class=" card shadow">
                    <div class="card-body p-5 pb-3">
                        <div>
                            <div class="d-flex justify-content-sm-end pb-3">
                                <button id="downloadall" class="btn btn-primary me-md-2 disabled" type="button"
                                    onclick="downloadallbtn()" style="width: 150px;">Download All</button>
                            </div>

                            <div style="height: 4px" class="progress">
                                <div id="progressBarall" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 5%" class="progress-bar bg-success"></div>
                            </div>

                            <div class="d-flex justify-content-sm-between pt-3 align-items-center">
                                <h6>3. Download PowerPoint Core Process Statement</h6>
                                <button id="powerpointbtn" class="btn btn-primary me-md-2 disabled" type="button"
                                    onclick="downloadppbtn()" style="width: 150px;">Download</button>
                            </div>

                            <div class="d-flex justify-content-sm-between pt-3 align-items-center">
                                <h6>4. Download Non-Core Process Statement Bubbles </h6>
                                <button id="processstatementbtn" class="btn btn-primary me-md-2 disabled" type="button"
                                    onclick="downloadpsbtn()" style="width: 150px;">Download</button>
                            </div>

                            <div class="d-flex justify-content-sm-between pt-3 align-items-center">
                                <h6>5. Download Sub-bubbles</h6><br>
                                <button id="Subbubblesbtn" class="btn btn-primary me-md-2 disabled" type="button"
                                    onclick="downloadsbbtn()" style="width: 150px;">Download</button>
                            </div>

                            <div class="d-flex justify-content-sm-between pt-3 align-items-center">
                                <h6>6. Download Decision Bubbles</h6>
                                <button id="decisionnodesbtn" class="btn btn-primary me-md-2 disabled" type="button"
                                    onclick="downloaddnbtn()" style="width: 150px;">Download</button>
                            </div>

                            <div class="d-flex justify-content-sm-between pt-3 mb-3 align-items-center">
                                <h6>7. Download Verbs Phrases for Link Arrows</h6>
                                <button id="verbscollectionbtn" class="btn btn-primary me-md-2 disabled" type="button"
                                    onclick="downloadVerbspptx()" style="width: 150px
                                    ;">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column mx-2 ">
            <button id="newbtn" class="btn btn-outline-primary me-md-2" type="button"
                onclick="resetPage()">New</button><br>
        </div>
    </div>
    <script>
        function SIPOCTableDownload() {
            console.log('SIPOC Table download initiated...');

            // Disable the button to prevent multiple clicks
            document.getElementById('newbtn').disabled = true;

            // Click the hidden link to initiate the download
            document.getElementById('downloadLink').click();

            console.log('Download initiated.');
        }
        function ConsentModal() {

            // Disable the button
            document.getElementById("uploadstbtn").disabled = true;

            // Replace the button content with the loading spinner
            document.getElementById("uploadstbtn").innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Loading...</span>`;

            // Click the hidden button to initiate upload
            document.getElementById('ConsentModalbtn').click();
        }

        function declineuploadmodal() {
            // Enable the button
            document.getElementById("uploadstbtn").disabled = false;

            // Restore the original inner HTML content of the button
            document.getElementById("uploadstbtn").innerHTML = "Upload";
        }

        function uploadFile() {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
            var formData = new FormData();
            formData.append('file', file);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {

                        // Update the upload status based on the response from the server
                        var response = JSON.parse(xhr.responseText);
                        if (response && response.message) {
                            document.getElementById('uploadStatus').textContent = response.message;
                            document.getElementById('progressBarst').style.width = '100%';
                            document.getElementById('uploadstbtn').textContent = "Uploaded";
                            document.getElementById('powerpointbtn').classList.remove('disabled');
                            document.getElementById('processstatementbtn').classList.remove('disabled');
                            document.getElementById('Subbubblesbtn').classList.remove('disabled');
                            document.getElementById('decisionnodesbtn').classList.remove('disabled');
                            document.getElementById('verbscollectionbtn').classList.remove('disabled');
                            document.getElementById('downloadall').classList.remove('disabled');
                        }
                        // Handle success
                    } else {
                        // Handle error
                        console.error('Upload failed:', xhr.status);
                        document.getElementById('uploadStatus').textContent = 'Upload failed';
                    }
                }
            };
            xhr.send(formData);
        }

        function downloadallbtn() {
            document.getElementById('progressBarall').style.width = '100%';
            document.getElementById('downloadall').disabled = true;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/download_all_files', true);
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = new Blob([xhr.response], { type: 'application/zip' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'all_files.zip';
                    link.click();
                }
            };

            xhr.send();
        }


        function downloadppbtn() {
            document.getElementById('powerpointbtn').disabled = true;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/download_pptx', true);
            xhr.responseType = 'blob';
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = new Blob([xhr.response], { type: 'application/vnd.openxmlformats-officedocument.presentationml.presentation' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Output_presentation.pptx';
                    link.click();
                }
            };
            xhr.send();
        }


        function downloadpsbtn() {
            document.getElementById('processstatementbtn').disabled = true;
            var fileLink = 'pro1.jpg';
            setTimeout(function () {
                document.getElementById('progressBarps').style.width = '100%';
                document.getElementById('processstatementbtn').textContent = "Downloaded";
                var downloadFrame = document.getElementById('downloadFrame');
                downloadFrame.src = fileLink;
                window.open(fileLink, '_blank');
            }, 1000);
        }
        function downloadsbbtn() {
            document.getElementById('Subbubblesbtn').disabled = true;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/download_Sub_bubbles', true);
            xhr.responseType = 'blob';
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = new Blob([xhr.response], { type: 'application/vnd.openxmlformats-officedocument.presentationml.presentation' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Sub_bubbles.pptx';
                    link.click();
                }
            };
            xhr.send();
        }

        function downloaddnbtn() {
            document.getElementById('decisionnodesbtn').disabled = true;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/download_decision_bubbles', true);
            xhr.responseType = 'blob';
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = new Blob([xhr.response], { type: 'application/vnd.openxmlformats-officedocument.presentationml.presentation' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Decision_Bubbles.pptx';
                    link.click();
                }
            };
            xhr.send();
        }



        function downloadVerbspptx() {
            document.getElementById('verbscollectionbtn').disabled = true;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/download_verbs', true);
            xhr.responseType = 'blob';
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = new Blob([xhr.response], { type: 'application/vnd.openxmlformats-officedocument.presentationml.presentation' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'verbs.pptx';
                    link.click();
                }
            };
            xhr.send();
        }


        function resetPage() {
            window.location.href = "/";
        }



    </script>
</body>

</html>